services:
  postgres:
    image: 'postgres:16-alpine'
    ports:
      - '5432:5432'
    environment:
      - 'POSTGRES_DB=tecnomanager'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=user'